<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WEB700 - Vaibhav Jaysinh Rajput</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="V:\Second Semester\WEB700\Web700\Assignment-3\web-700 app\views\home.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="V:\Second Semester\WEB700\Web700\Assignment-3\web-700 app\views\about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="V:\Second Semester\WEB700\Web700\Assignment-3\web-700 app\views\htmlDemo.html">HTML Demo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>About Me!</h1>
        <p>Welcome to the About page!</p>
        <p>I will give some information about myself, It is like an introduction.</p>
        <p>I am an International student from INDIA. I have completed my Bachelor's in Computer Science and Engineering. I want to become a Software Developer.</p>
        <h2>Personal Information</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Student Name: Vaibhav Jaysinh Rajput </p>
                <p>Student ID: 144444239 </p>
                <p>Program: Business Information Technology</p>
                <p>Course: WEB700</p>
                <p>College: Seneca Polytechnic College</p>
            </div>
            <div class="col-md-6">
                <img src="V:\Second Semester\WEB700\Web700\Assignment-3\web-700 app\IMG_2374.jpeg" alt="Vaibhav Jaysinh Rajput" class="img-fluid"  width="150" height="150">
            </div>
        </div>
    </div>
</body>
</html>
