<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - WEB700</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WEB700 - Vaibhav Jaysinh Rajput</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="V:\Second Semester\WEB700\Web700\Assignment-3\web-700 app\views\home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="V:\Second Semester\WEB700\Web700\Assignment-3\web-700 app\views\about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="V:\Second Semester\WEB700\Web700\Assignment-3\web-700 app\views\htmlDemo.html">HTML Demo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to my website</h1>
        <p>I will be demonstrating HTML5 principles and techniques, Routing in Express and many other concepts. You will get the knowledge regarding different concepts of HTML5. Stay updated regarding the latest HTML5 concepts.</p>
        <h2>Introduction</h2>
        <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: 
            <li><a href="/students" + getAllStudents() + >All Students</a></li>
            <li><a href="/students?course=3" + getStudentsByCourse(course) +>Students by Course</a></li>
            <li><a href="/student/2" + getStudentByNum(num) +>A Single Student By Student Number</a></li>
            <li><a href="/tas" + getTAs() +>All TAs</a></li>
            <li><a href="/courses" + getCourses +>All Courses</a></li>
        </p>
        <h2>HTML 5</h2>
        <p>HTML5 (Hypertext Markup Language 5) is a markup language used for structuring and presenting hypertext documents on the World Wide Web. It was the fifth and final[4] major HTML version that is now a retired World Wide Web Consortium (W3C) recommendation. The current specification is known as the HTML Living Standard. It is maintained by the Web Hypertext Application Technology Working Group (WHATWG), a consortium of the major browser vendors (Apple, Google, Mozilla, and Microsoft).</p>

        <p>HTML5 was first released in a public-facing form on 22 January 2008,[2] with a major update and "W3C Recommendation" status in October 2014.[5][6] Its goals were to improve the language with support for the latest multimedia and other new features; to keep the language both easily readable by humans and consistently understood by computers and devices such as web browsers, parsers, etc., without XHTML's rigidity; and to remain backward-compatible with older software. HTML5 is intended to subsume not only HTML 4 but also XHTML1 and even the DOM Level 2 HTML itself.</p>
            
        <p>HTML5 includes detailed processing models to encourage more interoperable implementations; it extends, improves, and rationalizes the markup available for documents and introduces markup and application programming interfaces (APIs) for complex web applications.[8] For the same reasons, HTML5 is also a candidate for cross-platform mobile applications because it includes features designed with low-powered devices in mind.</p>
    </div>
</body>
</html>
